<p id="notice"><%= notice %></p>

<h1>
  What is <mark class="white">Comm</mark><mark class="green">Link</mark> ?
</h1>

<h2>
  <mark class="white">Comm</mark><mark class="green">Link</mark> is an application where students can find important information about courses and 
professors all in one place.
This app allows users to:
</h2>

<ul >
  <li>Leave reviews on tech comm classes</li>
  <li>See what courses tech comm faculty members teach</li>
  <li>See course descriptions</li>
  <li>See faculty contact information</li>
  <li>Our goal is to make the course registration process easier for Technical Communication students at UNT.</li>
</ul>
<br>
<br>
<h1>
  Who is <mark class="white">Comm</mark><mark class="green">Link</mark> for ?
</h1>

<h2>
  <mark class="white">Comm</mark><mark class="green">Link</mark> is for:
</h2>

<ul>
  <li>Technical Communication majors</li>
  <li>Students needing to take tech comm courses</li>
  <li>Students interested in taking tech comm courses</li>
</ul>




