  <div id="landingPageContainer">
    <div id="container">
      <div id="tagline1">
        Discover Courses. Write Reviews.
      </div>
    </div>

    <div id="container">
      <div id="logo">
        <mark class="white">Comm</mark><mark class="green">Link</mark>
      </div>
    </div>

    <div id="container">
      <div id="tagline2">
        Enhancing the UNT Tech Comm Experience.
      </div>
    </div>

    <div class="container_button">
      <% if user_signed_in? %>
        <div><%= link_to 'Courses', '/courses#index' %></div>
        <h2>or</h2>
        <div><%= link_to 'Instructors', '/instructors#index' %></div>
      <% else %>
        <div><%= link_to 'sign in', new_user_session_path %></div>
        <h2>or</h2>
        <div><%= link_to 'sign up', new_user_registration_path %></div>
      <% end %>
    </div>
  </div>

