<div>
    <h1>This is the landing Page</h1>
    <p>Have fun Muhammad</p><br>
    <br>
    <div>
        <p>   
        <p>    　　　/ 　 へ＼ </p>
        <p>    　　 /　　/　＼＼you </p>
        <p>    　　 ﾚ　ノ　　 ヽ_つ </p>
        <p>    　　/　/ </p>
        <p>    　 /　/| </p>
        <p>    　(　(ヽ </p>
        <p>    　|　|、＼ </p>
        <p>    　| 丿 ＼ ⌒) </p>
        <p>    　| |　　) / </p>
        <p>    ノ )　　Lﾉ </p>
        <p>    (_／enjoy </p>
    </div>
</div>
