// Place all the styles related to the Instructors controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
   background: #363636;
}
.instructor-list-box {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    padding: 5px; 
    width: 50%;
    height: 15%;
    margin-bottom:20px;
}

.instructor-list-box h1{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  margin-left: 10px;
  color: #4CAF50;
}

.instructor-list-box p{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 30px;
  color: #FFFFFF;
  margin-left: 10px;
}

h1{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 72px;
  color: #FFFFFF;
}

.instructor-grid {
  display: flex;
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.flex-item {
  display: flex;
  min-height: 290px;
  //width: 45%;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin: 10px;

  a {
    display: flex;
    text-decoration: none;
  }

  a:hover {
    display: flex;
    background: none;
    text-decoration: none;
  }
}
        
.info-container{
  vertical-align: top;
  padding: 0 15px 0 15px;
  box-sizing: border-box;
}

.info-container h1{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  margin-left: 10px;
  color: #4CAF50;
}
.info-container p{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 30px;
  color: #FFFFFF;
  margin-left: 10px;
}

@media screen and (max-width: 630px) {
  .instructor-show2 {
    display: none!important;
  }
}

.instructor-show2 {
  border-radius: 5px;
  width: 150px!important;
  height: 270px!important;
  object-fit: cover;
  margin: 10px 10px!important;
}

.instructor-show3 {
  border-radius: 5px;
  width: 120px!important;
  height: 180px!important;
  object-fit: cover;
  margin: 10px 20px 10px 10px!important;
}

.instructor-weblink {
  color: #007dff!important;
  text-decoration: underline;
  font-size: 18px;
  background: none;
}

.instructor-weblink:hover {
  color: #6abbff!important;
  background: none;
}