// Place all the styles related to the Instructors controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
   background: #363636;
}
.instructor-list-box {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    padding: 5px; 
    width: 50%;
    height: 15%;
    margin-bottom:20px;
}

.instructor-list-box h1{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  margin-left: 10px;
  color: #4CAF50;
}

.instructor-list-box p{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 30px;
  color: #FFFFFF;
  margin-left: 10px;
}

h1{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 72px;
  color: #FFFFFF;
}

.instructor-grid {
  display: flex;
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.flex-item {
  height: 20%;
  width: 45%;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}
        
.info-container{
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 5px;
  box-sizing: border-box;
        }
.info-container h1{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  margin-left: 10px;
  color: #4CAF50;
}
.info-container p{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 30px;
  color: #FFFFFF;
  margin-left: 10px;
}

.instructor-show {
  width: 200px!important;
  height: auto!important;
}